<link href="~/mystyle.css" rel="stylesheet" />
<h1>I love my friends.</h1>
<ul>
    <li>MG MG</li>
    <li>SU SU</li>
    <li>MIN MIN</li>
</ul>
<a href="/contactme/index" target="_blank">Go to Contcat me </a> | 
<a href="/contactme/me" target="_blank">Me in JSON result</a> | 
<a href="https://www.google.com" target="_blank">Google </a> |
<a href="/home/download1" target="_blank">Download </a> 