<h1>Employee List Information</h1>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@if (TempData["Msg"] != null && !Convert.ToBoolean(TempData["IsErrorOccur"]))
{
    <div class="alert alert-success" role="alert">
        <span>@TempData["Msg"]</span>
    </div>
}
else if (TempData["Msg"] != null)
{
    <div class="alert alert-danger" role="alert">
        <span>@TempData["Msg"]</span>
    </div>
}