<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h3>Position Entry Form</h3>
<form action="/position/entry" method="post">
    <div class="mb-3">
        <label for="code" class="form-label">Code</label>
        <input type="text" class="form-control" name="Code" id="txtCode" placeholder="type position code in here" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" name="Description" id="txtDescription" placeholder="type position description in here" required>
    </div>
    <div class="mb-3">
        <label for="level" class="form-label">Level</label>
        <input type="number" class="form-control" name="Level" placeholder="type level in here">
    </div>
    <button type="submit" class="btn btn-success" id="btnEntry" disabled>Entry</button>
    <button type="reset" class="btn btn-primary">Cancel</button>
</form>
<script>
    $(document).ready(function () {
        //initially disable the entry button
         $('#btnEntry').attr('disabled', true);
        //function defination 
        function toggleEntryButton() {
            if ($('#txtCode').val().length != 0 && $('#txtDescription').val().length != 0) {
                $('#btnEntry').attr('disabled', false);
            } else {
                $('#btnEntry').attr('disabled', true);
            }
        }
        $('#txtCode, #txtDescription').keyup(function () {
            toggleEntryButton();
        });
    });
</script>