<h3>Position Entry Form</h3>
<form action="/position/entry" method="post">
  <div class="mb-3">
    <label for="code" class="form-label">Code</label>
    <input type="text" class="form-control" name="Code" placeholder="type position code in here" required>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" placeholder="type position description in here" required>
  </div>
    <div class="mb-3">
        <label for="level" class="form-label">Level</label>
        <input type="number" class="form-control" placeholder="type level in here">
    </div>
  <button type="submit" class="btn btn-success">Entry</button>
    <button type="reset" class="btn btn-primary">Cancel</button>
</form>